In [ ]:
import pandas as pd
import numpy as np
import seaborn as sb
import csv

In [ ]:
!wget https://s3-ap-southeast-1.amazonaws.com/he-public-data/dataset52a7b21.zip

--2021-08-01 17:59:50--  https://s3-ap-southeast-1.amazonaws.com/he-public-data/dataset52a7b21.zip
Resolving s3-ap-southeast-1.amazonaws.com (s3-ap-southeast-1.amazonaws.com)... 52.219.132.130
Connecting to s3-ap-southeast-1.amazonaws.com (s3-ap-southeast-1.amazonaws.com)|52.219.132.130|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1061576029 (1012M) [binary/octet-stream]
Saving to: ‘dataset52a7b21.zip.5’

dataset52a7b21.zip.  10%[=>                  ] 108.70M  16.4MB/s    eta 68s    ^C

In [ ]:
!unzip dataset52a7b21.zip

Archive:  dataset52a7b21.zip
replace dataset/train.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: n
replace dataset/sample_submission.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: n
replace dataset/test.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: n
replace dataset/.~lock.train.csv#? [y]es, [n]o, [A]ll, [N]one, [r]ename: n

In [ ]:
df_train = pd.read_csv("dataset/train.csv",escapechar = "\\",quoting = csv.QUOTE_NONE)
df_test = pd.read_csv("dataset/test.csv",escapechar = "\\",quoting = csv.QUOTE_NONE)

In [ ]:
#Samle of Training Dataset
df_train

                                                     TITLE  ... BROWSE_NODE_ID
0               Pete The Cat Bedtime Blues Doll, 14.5 Inch  ...              0
1        The New Yorker NYHM014 Refrigerator Magnet, 2 ...  ...              1
2        The Ultimate Self-Sufficiency Handbook: A Comp...  ...              2
3         Amway Nutrilite Kids Chewable Iron Tablets (100)  ...              3
4        Teacher Planner Company A4 6 Lesson Academic T...  ...              4
...                                                    ...  ...            ...
2903019  Premium Aviator Sunglasses - HD Polarized (Bri...  ...           1040
2903020  Social Distance Stickers - Set of 5 Sticker Sl...  ...          15199
2903021  Torr-to Face Shield PACK OF 5 with Adjustable ...  ...        1044933
2903022  Type-C to 3.5 MM for Oppo R17 Pro Type-C to 3....  ...          14790
2903023                        KNG Orange Polo Tshirt (38)  ...           1213

[2903024 rows x 5 columns]

In [ ]:
print(df_train.info())
print("#####################################################")
print(df_test.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2903024 entries, 0 to 2903023
Data columns (total 5 columns):
 #   Column          Dtype
---  ------          -----
 0   TITLE           object
 1   DESCRIPTION     object
 2   BULLET_POINTS   object
 3   BRAND           object
 4   BROWSE_NODE_ID  int64
dtypes: int64(1), object(4)
memory usage: 110.7+ MB
None
#####################################################
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 110775 entries, 0 to 110774
Data columns (total 5 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   PRODUCT_ID     110775 non-null  int64
 1   TITLE          110768 non-null  object
 2   DESCRIPTION    100306 non-null  object
 3   BULLET_POINTS  103989 non-null  object
 4   BRAND          108345 non-null  object
dtypes: int64(1), object(4)
memory usage: 4.2+ MB
None

In [ ]:
df_train.isna().sum()
#Remove title

TITLE                 71
DESCRIPTION       723664
BULLET_POINTS     166263
BRAND              56737
BROWSE_NODE_ID         0
dtype: int64

In [ ]:
len(df_train['BULLET_POINTS'].unique())

1668899

In [ ]:
df_train['BULLET_POINTS'], list1 = pd.factorize(df_train['BULLET_POINTS'])

In [ ]:
len(df_train['BRAND'].unique())

258266

In [ ]:
df_train["BRAND"], list2 = pd.factorize(df_train['BRAND'])

In [ ]:
len(df_train['DESCRIPTION'].unique())

1278943

In [ ]:
df_train['DESCRIPTION'], list3 = pd.factorize(df_train['DESCRIPTION'])

In [ ]:
len(df_train['TITLE'].unique())

2751513

In [ ]:
df_train['TITLE'], list4 = pd.factorize(df_train['TITLE'])

In [ ]:
df_train

           TITLE  DESCRIPTION  BULLET_POINTS   BRAND  BROWSE_NODE_ID
0              0            0              0       0               0
1              1            1              1       1               1
2              2           -1              2       2               2
3              3           -1              3       3               3
4              4           -1             -1      -1               4
...          ...          ...            ...     ...             ...
2903019  2751507      1278938        1668895     220            1040
2903020  2751508      1278939        1668896     220           15199
2903021  2751509      1278940        1668897  258264         1044933
2903022  2751510        29420           3351   12508           14790
2903023  2751511      1278941             -1   71370            1213

[2903024 rows x 5 columns]

In [ ]:
#Sample of Test Dataset
df_test

        PRODUCT_ID  ...           BRAND
0                1  ...         Command
1                2  ...          O'Neal
2                3  ...  Boelter Brands
3                4  ...       Panasonic
4                5  ...            Zero
...            ...  ...             ...
110770      110771  ...         Generic
110771      110772  ...     Grin Health
110772      110773  ...           ASIAN
110773      110774  ...     Intermarket
110774      110775  ...         Artifie

[110775 rows x 5 columns]

In [ ]:
df_test.isna().sum()

PRODUCT_ID           0
TITLE                7
DESCRIPTION      10469
BULLET_POINTS     6786
BRAND             2430
dtype: int64

In [ ]:
df_test['BRAND'], listt1 = pd.factorize(df_test['BRAND'])
df_test['BULLET_POINTS'], listt2 = pd.factorize(df_test['BULLET_POINTS'])
df_test['DESCRIPTION'], listt3 = pd.factorize(df_test['DESCRIPTION'])
df_test['TITLE'], listt4 = pd.factorize(df_test['TITLE'])

In [ ]:
df_test

        PRODUCT_ID   TITLE  DESCRIPTION  BULLET_POINTS  BRAND
0                1       0            0              0      0
1                2       1            1              1      1
2                3       2            2              2      2
3                4       3            3              3      3
4                5       4            4              4      4
...            ...     ...          ...            ...    ...
110770      110771  104342        59432          62310     14
110771      110772  104343        59433          62311   4465
110772      110773  104344         1003           1052    246
110773      110774  104345        59434          62312  20300
110774      110775  104346        59435          62313  16083

[110775 rows x 5 columns]

In [ ]:
df_train.columns

Index(['TITLE', 'DESCRIPTION', 'BULLET_POINTS', 'BRAND', 'BROWSE_NODE_ID'], dtype='object')

In [ ]:
print('Training set:')
for col_name in df_train.columns:
        unique_cat = len(df_train[col_name].unique())
        print("Feature '{col_name}' has {unique_cat} categories".format(col_name=col_name, unique_cat=unique_cat))

print()
print('Distribution of categories in BRAND:')
print(df_train['BRAND'].value_counts().sort_values(ascending=False).head())

Training set:
Feature 'TITLE' has 2751513 categories
Feature 'DESCRIPTION' has 1278943 categories
Feature 'BULLET_POINTS' has 1668899 categories
Feature 'BRAND' has 258266 categories
Feature 'BROWSE_NODE_ID' has 9919 categories

Distribution of categories in BRAND:
 220     107303
-1        56737
 325      14131
 739      11821
 6272     11180
Name: BRAND, dtype: int64

In [ ]:
print('Test set:')
for col_name in df_test.columns:
        unique_cat = len(df_test[col_name].unique())
        print("Feature '{col_name}' has {unique_cat} categories".format(col_name=col_name, unique_cat=unique_cat))

print()
print('Distribution of categories in BRAND:')
print(df_test['BRAND'].value_counts().sort_values(ascending=False).head())

Test set:
Feature 'PRODUCT_ID' has 110775 categories
Feature 'TITLE' has 104348 categories
Feature 'DESCRIPTION' has 59437 categories
Feature 'BULLET_POINTS' has 62315 categories
Feature 'BRAND' has 20302 categories

Distribution of categories in BRAND:
 14    3978
-1     2430
 33    1299
 52    1207
 88    1145
Name: BRAND, dtype: int64

In [ ]:
df_train.isna().sum()

TITLE             0
DESCRIPTION       0
BULLET_POINTS     0
BRAND             0
BROWSE_NODE_ID    0
dtype: int64

In [ ]:
df_test.isna().sum()

PRODUCT_ID       0
TITLE            0
DESCRIPTION      0
BULLET_POINTS    0
BRAND            0
dtype: int64

In [ ]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2903024 entries, 0 to 2903023
Data columns (total 5 columns):
 #   Column          Dtype
---  ------          -----
 0   TITLE           int64
 1   DESCRIPTION     int64
 2   BULLET_POINTS   int64
 3   BRAND           int64
 4   BROWSE_NODE_ID  int64
dtypes: int64(5)
memory usage: 110.7 MB

In [ ]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 110775 entries, 0 to 110774
Data columns (total 5 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   PRODUCT_ID     110775 non-null  int64
 1   TITLE          110775 non-null  int64
 2   DESCRIPTION    110775 non-null  int64
 3   BULLET_POINTS  110775 non-null  int64
 4   BRAND          110775 non-null  int64
dtypes: int64(5)
memory usage: 4.2 MB

In [ ]:
product_id = pd.DataFrame(df_test['PRODUCT_ID'])

In [ ]:
product_id

        PRODUCT_ID
0                1
1                2
2                3
3                4
4                5
...            ...
110770      110771
110771      110772
110772      110773
110773      110774
110774      110775

[110775 rows x 1 columns]

In [ ]:
df_test = df_test.iloc[:,:]

In [ ]:
df_test

        PRODUCT_ID   TITLE  DESCRIPTION  BULLET_POINTS  BRAND
0                1       0            0              0      0
1                2       1            1              1      1
2                3       2            2              2      2
3                4       3            3              3      3
4                5       4            4              4      4
...            ...     ...          ...            ...    ...
110770      110771  104342        59432          62310     14
110771      110772  104343        59433          62311   4465
110772      110773  104344         1003           1052    246
110773      110774  104345        59434          62312  20300
110774      110775  104346        59435          62313  16083

[110775 rows x 5 columns]

In [ ]:
#from sklearn.preprocessing import StandardScaler
#standard = StandardScaler()
#df_train_scaled = pd.DataFrame(standard.fit_transform(df_train))
#df_test_scaled = pd.DataFrame(standard.fit_transform(df_test))

In [ ]:
#df_train_scaled

In [ ]:
#df_test_scaled

In [ ]:
x = df_train.iloc[:, :-1]
y = df_train.iloc[:,-1]

In [ ]:
x

           TITLE  DESCRIPTION  BULLET_POINTS   BRAND
0              0            0              0       0
1              1            1              1       1
2              2           -1              2       2
3              3           -1              3       3
4              4           -1             -1      -1
...          ...          ...            ...     ...
2903019  2751507      1278938        1668895     220
2903020  2751508      1278939        1668896     220
2903021  2751509      1278940        1668897  258264
2903022  2751510        29420           3351   12508
2903023  2751511      1278941             -1   71370

[2903024 rows x 4 columns]

In [ ]:
y

0                0
1                1
2                2
3                3
4                4
            ...
2903019       1040
2903020      15199
2903021    1044933
2903022      14790
2903023       1213
Name: BROWSE_NODE_ID, Length: 2903024, dtype: int64

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
x_train,x_test,y_train, y_test = train_test_split(x,y,test_size=0.2, random_state = None)

In [ ]:
from sklearn.metrics import confusion_matrix,accuracy_score
from sklearn.neighbors import KNeighborsClassifier

In [ ]:
model = KNeighborsClassifier(n_neighbors=2000)

In [ ]:
model.fit(x, y)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=2000, p=2,
                     weights='uniform')

In [ ]:
!pip install xlsxwriter

Requirement already satisfied: xlsxwriter in /usr/local/lib/python3.7/dist-packages (1.4.5)

In [ ]:
test = df_test.iloc[:,1:]

In [ ]:
test

         TITLE  DESCRIPTION  BULLET_POINTS  BRAND
0            0            0              0      0
1            1            1              1      1
2            2            2              2      2
3            3            3              3      3
4            4            4              4      4
...        ...          ...            ...    ...
110770  104342        59432          62310     14
110771  104343        59433          62311   4465
110772  104344         1003           1052    246
110773  104345        59434          62312  20300
110774  104346        59435          62313  16083

[110775 rows x 4 columns]

In [ ]:
test_pred = model.predict(test)

In [ ]:
test_pred.shape

In [ ]:
#SAVING FORMAT
import xlsxwriter
df=pd.DataFrame({'BROWSE_NODE_ID':test_pred})
writer=pd.ExcelWriter('mount_coders_submission.xlsx',engine='xlsxwriter')
df.to_excel(writer,index=False,sheet_name='first')
writer.save()

In [ ]:
check = pd.read_excel("mount_coders_submission.xlsx")
check

In [ ]:
data=[]
for i in range(1,110776):
  data.append(i)

In [ ]:
check.insert(0,'PRODUCT_ID',data)

In [ ]:
check.to_csv('submission7.csv')